<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Vue Js</title>
</head>
<body>
    
    <div class="app_root">
        <h2> My Name is {{ name }} and my age is {{ age }}</h2>
        <h3>{{ sayHi('Evening' , name) }}</h3>
        <a v-bind:href="link" target="_blank">FTMS</a>
        <br>
        <img v-bind:src="img" width="180">
        <br>
        <img :src="img" width="180">

        <div class="event">
            <p>Number is {{ number }}</p>
            <!-- <button v-on:click="testFunction">Click</button> -->
            <button @click="testFunction">Click</button>
            <button v-on:dblclick="testFunction">Double Click</button>
        </div>

        <a :href="link" target="_blank"  @click.prevent>Link</a>

        <form action="" @submit.prevent>
            <button type="submit">submit form</button>
        </form>

        <a href="#" @click.once="testonce">test</a>

        <div>
            <h3>print name</h3>
            print name in console after write any thing in input
            <br>
            <input type="text" @keyup="printMyname" name="" id="">
            <br>
            print name in console after click enter
            <br>
            <input type="text" @keyup.enter="printMyname" name="" id="">
        </div>


        <div>
            <h3>change the name</h3>

            <label for="textInp">{{ name }}</label> <br>
            <!-- <input type="text" @keyup="updateValue" name="textInp" id="textInp"> <br> -->
            <input type="text" v-model="name" name="textInp" id="textInp"> <br>
            <label for="textInp2">{{ city }}</label> <br>
            <input type="text" name="textInp2" id="textInp2">

            <br>
            <button @click="name = 'Ahmed'"> Change Name</button>
        </div>

        <div class="lec-9">
            <h2>Lecture 9</h2>
            <form action="" @submit.prevent="sendData">

                <div>
                    <label for="name">Enter your name</label>
                    <input type="text" v-model="name2" name="name" id="name">
                </div>

                <div>
                    <label for="email">Enter your email</label>
                    <input type="email" v-model="email" name="email" id="email">
                </div>

                <div>
                    <label for="email">Enter your password</label>
                    <input type="password" v-model="password" name="password" id="password">
                </div>

                <button type="submit" >submit</button>

            </form>
        </div>


        <div class="lec-10">
            <h2>Lecture 10</h2>
            <h4>Number One is {{ numberOne }}</h4>
            <p>number {{ numberOne }} x 2 =  {{ numberOneChange }}</p>
            <button @click="numberOne++">Number one change</button>
            <h4>Number Two is {{ numberTwo }}</h4>
            <p>number {{ numberTwo }} + 10 =  {{ numberTwoChange }}</p>

            <button @click="numberTwo++">Number two change</button>


        </div>
        
        <div class="lec-11">
            <h2>Lecture 11</h2>

            <h4 :class="myColor">My Title</h4>
            <input type="text" v-model="myColor" name="" id="">

            <p :style="`color : ${myColor}`"> My style binding </p>
        </div>

        <div class="lec-12">
            <h2>Lecture 12</h2>
            <h2> My Name is {{ name }} and my age is {{ age }}</h2>

            <p v-show="age<25">His age is younger than 25</p>
            <p v-if="age<25">His age is younger than 25</p>
            <p v-else-if="age == 25">His age is equal to 25</p>
            <p v-else>His age is older than 25</p>
            <button @click="age++">increace age</button>
            <button @click="age--">decreace age</button>
            
        </div>

        <div class="lec-13">
            <h2>Lecture 13</h2>

            <h5 v-for="(name , i) in students" :key="i">
                {{ name }}
            </h5>
            <h3>Loop of objects</h3>
            <h5 v-for="student in studentsObject" :key="student.id">
                <!-- <p v-if="student.id == 1"> {{ student.name }}</p> -->
                {{ student.name }} {{ student.age }}
            </h5>
        </div>

    </div>



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
</body>
</html>